
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 28px 0 28px;
}

.headerRight {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;
  padding: 8px;
}

.active-link {
  color: orangered;
  text-decoration: underline;
}

.home,
.home1 {
  padding-left: 20px;
  height: 100vh;
}

.content,
.content1 {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.content1 {
  width: 39%;
}

.home1 {
  text-align: center;
  display: flex;
  justify-content: center;
}

.welcome-heading {
  margin-bottom: 20px;
}

body {
  overflow: hidden;
}
